<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8' />
        <% include ../template/c_lib_head.ejs %>
        <% include ../template/d_main_head.ejs %>
    </head>
    <body ng-app="app" ng-controller = "Ctrl">
        <% include ../template/desktop/background_video.ejs %>
    <div id="real">
        <!-- MAIN CONTENT -->
        <div id = "topbar">
            <ul id="wid_set">
                <li class="addmemo" >MEMO</li>
                <li class="calendar">CALENDAR</li>
            </ul>
            <div id="gsearch">
                <form method="get" action="http://www.google.com/search" target="_blank">
                    <input type="text" name="q" size="30" placeholder="google search">
                    <button type = "submit" >search</button>
                </form>
            </div>
            <div id="info">
                <!--
                <div id = "setting">
                    <input type="file" name="saveFile" id="saveFile" style="width:68px;height:15px;margin:0px;filter:alpha(opacity=0);opacity:0;cursor:pointer;" onchange="document.getElementById('txt').value=this.value;" value="this.value;">
                </div>
            -->
               
                <!--
                <input type = "file" id = "setting" multiple size = "50" data-file = "param.file"/>
            -->
            <!--
                <input type = "file" id = "setting" multiple size= "50" file-model = "myFile"/>
                <button ng-click = "uploadFile()"><img id="setting2" src="/images/setting.png"/></button>
                -->
                <form id = "setting" action ='/public/images' method ="post" enctype = "multipart/form-data">
                    <input type = 'file' name ='myfile'  file-model = "myFile"/>
                    <input type = 'submit' name ='upload' ng-click = "uploadFile()"/>
                </form>

                <form action = "/logout" method="post">
                <!-- 로그아웃 버튼 옆의 유저 이름 글씨 생략

                <p class="logout"><%= UserName %></p>--> <button  class="logout" type = "submit"><img class ="save" id = "logout" src = "/images/quit.png" /></button>
                </form>
            <!-- 상단 바의 시계 생략
            <div class="clock" >
                <span my-current-time="format"></span>
                <div>{{propiedadPrueba}}</div>
            </div>
        -->
            </div>
        </div>
        <div id="main">
            <div id = "home" droppable >
                <button id = "Btn_ajax">Ajax</button>
                <% include ../template/d_main_cloud %>
                
               <% 
                  for(var i = 0; i < widget.length; i++){ %>
                    <div ng-draggable class="widget w_memo" style="position: absolute; left: <%- widget[i].left %>; top:  <%- widget[i].top %>;" >
                        <div class="memo_end">
                            <img ng-show="show_del" class="end"src="/images/wid_del.png"/>
                        </div>
                        <textarea rows="8" cols="25"><%- widget[i].memo %></textarea>
                    </div>
                <%   }  %>
                
                <!-- 바탕화면의 가운데 시계와 인사말 -->
                <div class="center">
                    <div class="clock" >
                        <span my-current-time="format"></span>
                        <div>{{propiedadPrueba}}</div>
                    </div>
                    <div class="greeting">
                        Hello, <%= UserName %>!
                    </div>
                </div>

            </div>

            <div id = "dock" ng-controller = "DragDropCtrl">
                <div id = "ddock">
                    <!-- 독바의 왼쪽과 가운데 생략
                    <div class = "subdock" id = "leftdock" droppable drop = "handleDrop()">
                        <ul id="leftdocklist">
                    <% 
                      for(var i = 0; i < userapp.length; i++){ 
                            if(userapp[i].position=="left"){ %>
                            <li><a href = "<%- userapp[i].url %>" target = "_blank">
                                <img src = "<%- userapp[i].fav %>" class ="tosave"/></a>
                            </li>
                    <%   }}  %>
                        </ul>
                    </div>
                    <div class = "subdock" id = "centerdock">
                        <button id = "apps" ng-click = "slide()"><img src="/images/apps.png" /></button>
                    </div>-->
                    <div class = "subdock" id = "rightdock" droppable drop = "handleDrop()">
                        <ul id="rightdocklist">
                    <% 
                      for(var i = 0; i < userapp.length; i++){ 
                            if(userapp[i].position=="right"){%>
                            <li><a href = "<%- userapp[i].url %>" target = "_blank">
                                <img src = "<%- userapp[i].fav %>" class ="tosave"/></a>
                            </li>
                    <%   }}  %>
                        </ul>
                    </div>
                </div>
                <!-- 패널의 슬라이드 기능 생략
                <div id = "panel" ng-show="slideapps" >-->
                <!-- 앱서랍 버튼 클릭하면 패널 나타남 -->
                <div id = "panel" class = "dontadd" ng-show="show_panel" ng-click = "dont()">
                    
                    <div id = "modifyurl">
                        <input id = "slurl" type = "text" name = "url" ng-show = "slideurl" size = "25" placeholder = "http://" ng-enter/>
                        <!-- url 추가 이미지 생략
                        <button id = "addurl" ng-click = "addurl()" >
                            <img src = "/images/addurl.png" class = "addurll"/>
                        </button>-->
                        <!-- url 추가 글씨 -->
                        <a id="addurl" class= "addurll" ng-keypress ng-click="addurl()"> + </a>
                        
                        <!--<button id = "addurl2" type = "submit" ng-show = "slideurl" class = "addurll" ><img src = "/users/GUEST/noun_21727.png"/></button>-->
                    </div>
                    
                    <div id = "trash" droppable>
                        <!-- 휴지통 이미지 생략
                        <img src = "/images/trash.png" />-->
                    </div>
                    <ul id = "panelul" droppable>
                    <% 
                      for(var i = 0; i < userapp.length; i++){ 
                            if(userapp[i].position=="center"){%>
                            <li><a href = "<%- userapp[i].url %>" id = "<%- userapp[i].fav %>" target = "_blank" >
                                <img src = "<%- userapp[i].fav %>" id = "<%- userapp[i].fav %>" class ="tosave" draggable/></a>
                            </li>
                    <%   }}  %>
                    </ul>
                </div>
                <!-- 앱서랍 버튼 생성 -->
                <div id = "apps" ng-click = "show_panel = !show_panel" id="addwid">Apps</div>
            </div>
                                
         </div>

    </div>
    </body>
</html>