<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8' />
        <% include ../template/c_lib_head.ejs %>
        <% include ../template/d_main_head.ejs %>
    </head>
    <script>
    $(function() {
        var maxz = $('.zi:last').css("zIndex");
        $(".zi").on("click",function(){
                maxz++;
              $(this).css('z-index',maxz);           
            }
        );
    });
    $(function() {
        var mmaxz = $('.mzi:last').css("zIndex");
        $(".mzi").on("click",function(){
                mmaxz++;
              $(this).css('z-index',mmaxz);           
            }
        );
    });
    </script>

    <body ng-app="app" ng-controller = "Ctrl">
       <!-- <% include ../template/desktop/background_video.ejs %> -->
    <div id="real">
        <!-- MAIN CONTENT -->
        <div id = "topbar">
            <ul id="wid_set">
                <li class="addmemo" >MEMO</li>
                <li ng-click="show_todo=!show_todo">ToDoList</li>
                <li ng-click="show_calendar=!show_calendar" class="calendar">CALENDAR</li>
                <li id = "CLOUD" >CLOUD</li>


            </ul>
            <div id="gsearch">
                <form method="get" action="http://www.google.com/search" id = "form1" name = "form1" target="_blank">
                    <input type="text" id = "search" name="q" size="30" placeholder="" ng-enter>
                    <button type = "submit" ng-keypress>search</button>
                </form>
            </div>
            <ul id="social_set">
                <li id = "friend_list" >FriendList</li>
                <li id = "guestbook_list">MyGuest</li>
            </ul>
            <div id="info">

                <form action = "/logout" method="post">
                    <button  class="save logout" type = "submit">LOGOUT</button>
                </form>
            </div>
        </div>
        <div id="main">
            <div id = "friend_div">
                <table>          
                            <thead>
                                 <tr>
                                    <th width="20px">이름(ID)</th>
                                    <th width="40px">message</th>
                                    <th width="20px">방문</th>
                                </tr>
                            </thead>
                            <tbody id= "friend_tbody">
                                 <% 
                                  for(var i = 0; i < friends.length; i++){ %>
                                    <tr class = "friends">
                                        <td><%- friends[i].name %>(<%- friends[i].id %>)</th>
                                        <td class="messageTo" width="40px">message</th>
                                        <td><a href ="visit?ID=<%- friends[i].id %>">방문</a></th>
                                    </tr>
                               <%   }  %>
                              
                            </tbody>
                    </table>

               <input id = "input_friend" type = "text"><button id ="btn_searchFriend">검색</button>
               <div>
                    <table id = "newFriend">
                    </table>
               </div>
            </div>
            <div id = "home" droppable>
                <% include ../template/d_main_cloud %>

                <!-- 메모 -->
               <% 
                  for(var i = 0; i < widget.length; i++){ %>
                    <div ng-draggable class="widget_m w_memo mzi" style="position: absolute; left: <%- widget[i].left %>; top:  <%- widget[i].top %>; z-index: <%-5000+i%>;"  ><div class="end"><img class="delmemo"src="/images/wid_del.png"/></div> 
                        <textarea rows="8" cols="25"><%- widget[i].memo %></textarea>
                    </div>
                <%   }  %>
               
                <% 
                  for(var i = 0; i < guestbook.length; i++){ %>
                    <div ng-draggable class="widget_m w_memo mzi" style="position: absolute; left: <%- guestbook[i].left %>; top:  <%- guestbook[i].top %>;" >
                        <h2 id = <%- guestbook[i]._id%>><%-guestbook[i].who%></h2>
                        <p><%-guestbook[i].time%></p>
                        <div class="end"><img class="delmemo"src="/images/wid_del.png"/></div>
                        <textarea rows="8" cols="25" readonly= "readonly"><%- guestbook[i].contents %></textarea>
                    </div>
                <%   }  %>
                <!--방명록 끝-->
                <!-- 투두리스트 -->
                <div id="todolist" ng-controller="taskController" class="zi">
                    <div id="todo_li" ng-draggable ng-show="show_todo" >
                        <span id="todo_end" ng-click="$parent.show_todo=false">X</span>
                        <div class="container">

                            <div class="content" >
                                <h1>To Do List</h1>
                                <div class="row">
                                      <button class="taskAdd" ng-click="show_todolist=true">Add</button>
                                      <button class="taskDelete" ng-click="deleteTask()">Delete</button>
                                </div>
                                <ul  class="taskList">
                                    <li class="taskItem" id = "hyuntae" ng-repeat="taskItem in taskItem track by $index" ng-model="taskItem">
                                      <input type="checkbox" class="taskCheckbox" ng-model="taskItem.complete" ng-change="save()">
                                      <span class="complete-{{taskItem.complete}}">{{taskItem.description}}</span> <span class="category-{{taskItem.category}}">{{taskItem.category}}</span> <strong class="taskDate complete-{{taskItem.complete}}"><i class="fa fa-calendar"></i>{{taskItem.date | date : 'mediumDate'}}</strong> 
                                    </li>
                                </ul>
                                
                            </div>
                        </div>
                    </div>

                    <div ng-draggable ng-show="show_todolist" id="todo_fo">
                        <form id="todoform">
                            <div class="inputContainer">
                                <input type="text" id="description" class="taskName" placeholder="?" ng-model="newTask">
                                <label for="description">Description</label>
                            </div>
                            <div class="inputContainer half last"> <i class="fa fa-caret-down selectArrow"></i>
                                <select id="category" class="taskCategory" ng-model="newTaskCategory" ng-options="obj.name for obj in categories">
                                    <option class="disabled" value="">Choose a category</option>
                                </select>
                                <label for="category">Category</label>
                            </div>
                            <div class="inputContainer half last right">
                              <input type="date" id="dueDate" class="taskDate" ng-model="newTaskDate">
                              <label for="dueDate">Due Date</label>
                            </div>
                            <button ng-click="addNew();show_todolist=false" id="addtodo">ADD</button>
                            <button ng-click="show_todolist=false" id="deletetodo">CANCLE</button>
                        </form>
                    </div>
                </div>                    

                <!-- 달력 -->
                <div ng-controller="MainSchedulerCtrl" ng-draggable class="widget_c zi" ng-show="show_calendar" style="z-index=6000">
                    <div id="c_end">
                        <span id="cal_end" ng-click="$parent.show_calendar=false">X</span>
                    </div>
                    <div data="events" dhx-scheduler style="height:600px; width:800px;"   >
                            <div class="dhx_cal_prev_button"></div>
                            <div class="dhx_cal_next_button">&nbsp;</div>
                            <div class="dhx_cal_today_button"></div>
                            <div class="dhx_cal_date"></div>
                            <div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
                            <div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
                            <div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>    

                            <div dhx-template="event_bar_text">
                                {{event.text | uppercase}}
                            </div>
                    </div>
                </div>

                
                
                <!-- 바탕화면의 가운데 시계와 인사말 -->
                <div class="center">
                    <div class="clock" >
                        <span my-current-time="format"></span>
                        <div>{{propiedadPrueba}}</div>
                    </div>
                    <div class="greeting">
                        Hello, <%= UserName %>!
                    </div>
                </div>

            </div>

            <div id = "dock" ng-controller = "DragDropCtrl">
                <div id = "ddock">
                    <!-- 독바의 왼쪽과 가운데 생략
                    <div class = "subdock" id = "leftdock" droppable drop = "handleDrop()">
                        <ul id="leftdocklist">
                    <% 
                      for(var i = 0; i < userapp.length; i++){ 
                            if(userapp[i].position=="left"){ %>
                            <li><a href = "<%- userapp[i].url %>" target = "_blank">
                                <img src = "<%- userapp[i].fav %>" class ="tosave"/></a>
                            </li>
                    <%   }}  %>
                        </ul>
                    </div>
                    <div class = "subdock" id = "centerdock">
                        <button id = "apps" ng-click = "slide()"><img src="/images/apps.png" /></button>
                    </div>-->
                    <div class = "subdock" id = "rightdock" droppable drop = "handleDrop()">
                        <ul id="rightdocklist">
                    <% 
                      for(var i = 0; i < userapp.length; i++){ 
                            if(userapp[i].position=="right"){%>
                            <li><a href = "<%- userapp[i].url %>" target = "_blank">
                                <img src = "<%- userapp[i].fav %>" class ="tosave"/></a>
                            </li>
                    <%   }}  %>
                        </ul>
                    </div>
                </div>
                <!-- 패널의 슬라이드 기능 생략
                <div id = "panel" ng-show="slideapps" >-->
                <!-- 앱서랍 버튼 클릭하면 패널 나타남 -->
                <div id = "panel" class = "dontadd" ng-show="show_panel" ng-click = "dont()">
                    
                    <div id = "modifyurl">
                        <input id = "slurl" type = "text" name = "url" ng-show = "slideurl" size = "25" placeholder = "http://" ng-enter/>
                        <!-- url 추가 이미지 생략
                        <button id = "addurl" ng-click = "addurl()" >
                            <img src = "/images/addurl.png" class = "addurll"/>
                        </button>-->
                        <!-- url 추가 글씨 -->
                        <a id="addurl" class= "addurll" ng-keypress ng-click="addurl()"> + </a>
                        
                        <!--<button id = "addurl2" type = "submit" ng-show = "slideurl" class = "addurll" ><img src = "/users/GUEST/noun_21727.png"/></button>-->
                    </div>
                    
                    <div id = "trash" droppable>
                        <!-- 휴지통 이미지 생략
                        <img src = "/images/trash.png" />-->
                    </div>
                    <ul id = "panelul" droppable>
                    <% for(var i = 0; i < userapp.length; i++){ 
                        if(userapp[i].def == "false"){%>
                            <li><a class="false" href = "<%- userapp[i].url %>" id = "<%- userapp[i].fav %>" target = "_blank" >
                                <img src = "<%- userapp[i].fav %>" id="<%- userapp[i].url %>" class ="tosave" draggable/></a>
                            </li>
                        <% } else{ %>
                            <!-- icon -->
                            <li><div class="true" id="<%- userapp[i].url %>">
                                <img src="<%-userapp[i].fav %>" id="<%- userapp[i].url %>" class="true" draggable/></div>
                            </li>
                        <% } 
                        }  %>
                        <!--<div id = "iframe" ng-draggable></div>-->
                    </ul>
                </div>
                <!-- 앱서랍 버튼 생성 -->
                <div id = "apps" ng-click = "show_panel = !show_panel" id="addwid">Apps</div>
            </div>                 
         </div>
    </div>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-46156385-1', 'cssscript.com');
        ga('send', 'pageview');
    </script>
    </body>
</html>