<!DOCTYPE html>
<html>

    <head>
        <meta charset='utf-8' />
        <% include ../template/c_lib_head.ejs %>
        <% include ../template/d_main_head.ejs %>
        <style type="text/css">
        video { 
            position: fixed;
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -100;
            background-size: cover;
            transition: 1s opacity;
        }

        </style>
    </head>
     <script type="text/javascript">


            var client = new Dropbox.Client({key: 'n6fec5ssr1ahnex'});
            //google
            var CLIENT_ID = '642713611296-3g6cpseokmpu6sld8q0mhaa54sp0bl03.apps.googleusercontent.com';
            var SCOPES = 'https://www.googleapis.com/auth/drive';

            window.onload =function (){
                window.setTimeout(checkAuth, 1);

                var popup_Btn = document.getElementById("CLOUD");
                popup_Btn.onclick = go_popup;
                var Btn_ajax = document.getElementById("Btn_ajax");
                Btn_ajax.onclick = saveApp;
                var h2dropauth = document.getElementById('dropauth');
                h2dropauth.onclick = authDropbox;
            }

            function checkAuth() {
               
                var CLOUD = document.getElementById("CLOUD");
                CLOUD.onclick = go_popup;
                var DROPBOX = document.getElementById("DROPBOX");
                DROPBOX.onclick = authDropbox;
                var Btn_read = document.getElementById("Btn_read");
                Btn_read.onclick = readDropFileList;
                var Btn_write = document.getElementById("Btn_write");
                Btn_write.onclick = writeToDrop;
                gapi.auth.authorize(
                    {'client_id': CLIENT_ID, 'scope': SCOPES, 'immediate': true},
                    handleAuthResult);
            }

            function handleAuthResult(authResult) {
                var authButton = document.getElementById('authorizeButton');
                var filePicker = document.getElementById('filePicker');
                var googleBtnRead = document.getElementById('googleBtn_read');
                //listBtn.onclick =retrieveAllFiles;
                googleBtnRead.style.display = 'none';
                if (authResult && !authResult.error) {
                  // Access token has been successfully retrieved, requests can be sent to the API.
                  //authButton.style.display = 'block';
                  filePicker.style.display ='block';
                  filePicker.onchange = uploadFile;
                  googleBtnRead.style.display = 'block';
                  googleBtnRead.onclick = retrieveAllFiles;
                } else {
                  // No access token could be retrieved, show the button to start the authorization flow.
                  authButton.style.display = 'block';
                  authButton.onclick = function() {
                      gapi.auth.authorize(
                          {'client_id': CLIENT_ID, 'scope': SCOPES, 'immediate': false},
                          handleAuthResult);
                  };
                }
                if(client.isAuthenticated())
                {

                    var h2dropauth = document.getElementById('dropauth');
                    h2dropauth.style.color = 'black';
                  
          
                }
                else
                {
                    var h2dropauth = document.getElementById('dropauth');
                    h2dropauth.style.color = 'red';
                }
            }

            function authDropbox(){
                client.authenticate(function (error){
                    if(error){
                        alert('Authentication error'+error);
                    }
                    else
                        alert('hi drop auth');
                    });
                var datastoreManager = client.getDatastoreManager();
                    datastoreManager.openDefaultDatastore(function (error,datastore) {
                        if (error) {
                            alert('Error opening default datastore: ' + error);
                        }else{
                             var h2dropauth = document.getElementById('dropauth');
                             h2dropauth.style.color = 'black';   
                             readDropFileList();
                        }
                });
            }
            /////////
            function uploadFile(evt) {
                gapi.client.load('drive', 'v2', function() {
                    var file = evt.target.files[0];
                    insertFile(file);
                });
            }
            function saveApp(){
                alert('ajax');
                new Ajax.Request("http://localhost:9080/widget",{
                    method: "post",
                    parameters: {memo: 'hihi ajax is good'}
                });
            }

      /**
       * Insert new file.
       *
       * @param {File} fileData File object to read data from.
       * @param {Function} callback Function to call when the request is complete.
       */
            function insertFile(fileData, callback) {
                const boundary = '-------314159265358979323846';
                const delimiter = "\r\n--" + boundary + "\r\n";
                const close_delim = "\r\n--" + boundary + "--";

                var reader = new FileReader();
                reader.readAsBinaryString(fileData);
                reader.onload = function(e) {
                    var contentType = fileData.type || 'application/octet-stream';
                    var metadata = {
                        'title': fileData.name,
                        'mimeType': contentType
                    };

                    var base64Data = btoa(reader.result);
                    var multipartRequestBody =
                        delimiter +
                        'Content-Type: application/json\r\n\r\n' +
                        JSON.stringify(metadata) +
                        delimiter +
                        'Content-Type: ' + contentType + '\r\n' +
                        'Content-Transfer-Encoding: base64\r\n' +
                        '\r\n' +
                        base64Data +
                        close_delim;

                    var request = gapi.client.request({
                        'path': '/upload/drive/v2/files',
                        'method': 'POST',
                        'params': {'uploadType': 'multipart'},
                        'headers': {
                        'Content-Type': 'multipart/mixed; boundary="' + boundary + '"'
                        },
                      'body': multipartRequestBody});
                    if (!callback) {
                        callback = function(file) {
                        console.log(file)
                        };
                    }
                  request.execute(callback);
                }
            }


            /////////
            function readDropFileList() {                
                client.stat('/',{readDir :true},function(error,reply,stat,result)
                {
                      var fileList =[];
                      for(var i = 0; i<stat.length; i++){
                         var file = {
                                name: stat[i].name,
                                size: stat[i].size,
                                date: stat[i].modifiedAt,
                                path: stat[i].path,
                                type: stat[i].mimeType
                            };
                          
                            fileList.push(file);
                        }  
                        console.log(fileList);
                        new Ajax.Request("http://localhost:9080/a",{
                            method: "get",
                            parameters: fileList
                        });
                        //new EJS({url: '/template/d_main_cloud_list.ejs'}).update('dropbox', {hi:'hello'});
                });              
            }

            function writeToDrop() {
                client.writeFile('hello.txt', 'Hello, World!', function (error) {
                    if (error) {
                        alert('Error: ' + error);
                    } else {
                        alert('File written successfully!');
                    }
                });
            }

            function go_popup() {
                $('#popup').bPopup({
                    modal: false,
                    transition: 'slideDown',
                    transitionClose: 'slideDown'
                });
            };
            function retrieveAllFiles(callback) {
                alert('hi');
                var request = gapi.client.request({
                  'path': '/drive/v2/files',
                  'method': 'GET'
                })
                request.execute(function(resp){
                  console.log(resp.items);
                });
            }
        </script>

        <!--- -->
    <body ng-app="app" ng-controller = "Ctrl">
        <% include ../template/desktop/background_video.ejs %>
    <div id="real">
        <!-- MAIN CONTENT -->
        <div id = "topbar">
            <ul id="wid_set">
                <li class="addmemo" >MEMO</li>
                <li ng-click="show_todo=!show_todo">ToDoList</li>
                <li ng-click="show_calendar=!show_calendar" class="calendar">CALENDAR</li>

            </ul>
            <div id="gsearch">
                <form method="get" action="http://www.google.com/search" target="_blank">
                    <input type="text" name="q" size="30" placeholder="google search">
                    <button type = "submit" >search</button>
                </form>
            </div>
            <div id="info">
                <!--
                <div id = "setting">
                    <input type="file" name="saveFile" id="saveFile" style="width:68px;height:15px;margin:0px;filter:alpha(opacity=0);opacity:0;cursor:pointer;" onchange="document.getElementById('txt').value=this.value;" value="this.value;">
                </div>
            -->
               
                <!--
                <input type = "file" id = "setting" multiple size = "50" data-file = "param.file"/>
            -->
            <!--
                <input type = "file" id = "setting" multiple size= "50" file-model = "myFile"/>
                <button ng-click = "uploadFile()"><img id="setting2" src="/images/setting.png"/></button>
                -->
                <form id = "setting" action ='/public/images' method ="post" enctype = "multipart/form-data">
                    <input type = 'file' name ='myfile'  file-model = "myFile"/>
                    <input type = 'submit' name ='upload' ng-click = "uploadFile()"/>
                </form>

                <form action = "/logout" method="post">
                <!-- 로그아웃 버튼 옆의 유저 이름 글씨 생략

                <p class="logout"><%= UserName %></p>--> <button  class="logout" type = "submit"><img class ="save" id = "logout" src = "/images/quit.png" /></button>
                </form>
            <!-- 상단 바의 시계 생략
            <div class="clock" >
                <span my-current-time="format"></span>
                <div>{{propiedadPrueba}}</div>
            </div>
        -->
            </div>
        </div>
        <div id="main">
            <div id = "home" droppable >
                <button id = "Btn_ajax">Ajax</button>
                <% include ../template/d_main_cloud %>

                <!-- 메모 -->
               <% var widgetmemo = JSON.parse(widget);
                  for(var i = 0; i < widgetmemo.widget.length; i++){ %>
                    <div ng-draggable class="widget_m w_memo" style="position: relative; z-index: 0; left: <%- widgetmemo.widget[i].left %>; top:  <%- widgetmemo.widget[i].top %>;" >
                        <div class="end">
                            <img ng-show="show_del" class="end"src="/images/wid_del.png"/>
                        </div>
                        <textarea rows="8" cols="25"><%- widgetmemo.widget[i].memo %></textarea>
                    </div>
                <%   }  %>

                <!-- 투두리스트 -->
                <div ng-controller="taskController">
                    <div  ng-draggable ng-show="show_todo">
                        <div class="container">
                            <div class="content" >
                                <h1>To Do List</h1>
                                <div class="row">
                                      <button class="taskAdd" ng-click="show_todolist=true">Add</button>
                                      <button class="taskDelete" ng-click="deleteTask()">Delete</button>
                                </div>
                                <ul  class="taskList">
                                    <li class="taskItem" ng-repeat="taskItem in taskItem track by $index" ng-model="taskItem">
                                      <input type="checkbox" class="taskCheckbox" ng-model="taskItem.complete" ng-change="save()">
                                      <span class="complete-{{taskItem.complete}}">{{taskItem.description}}</span> <span class="category-{{taskItem.category}}">{{taskItem.category}}</span> <strong class="taskDate complete-{{taskItem.complete}}"><i class="fa fa-calendar"></i>{{taskItem.date | date : 'mediumDate'}}</strong> 
                                    </li>
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                    <div ng-draggable ng-show="show_todolist" style="width:70%;margin-left:15% ;margin : 10px; background-color:white">
                        <form id="todoform">
                            <div class="inputContainer">
                                <input type="text" id="description" class="taskName" placeholder="?" ng-model="newTask">
                                <label for="description">Description</label>
                            </div>
                            <div class="inputContainer half last"> <i class="fa fa-caret-down selectArrow"></i>
                                <select id="category" class="taskCategory" ng-model="newTaskCategory" ng-options="obj.name for obj in categories">
                                    <option class="disabled" value="">Choose a category</option>
                                </select>
                                <label for="category">Category</label>
                            </div>
                            <div class="inputContainer half last right">
                              <input type="date" id="dueDate" class="taskDate" ng-model="newTaskDate">
                              <label for="dueDate">Due Date</label>
                            </div>
                            <button ng-click="addNew();show_todolist=false" id="addtodo">ADD</button>
                            <button ng-click="show_todolist=false" id="deletetodo">CANCLE</button>
                        </form>
                    </div>
                </div>                    

                <!-- 달력 -->
                <div ng-controller="MainSchedulerCtrl" ng-draggable class="widget_c" ng-show="show_calendar" >
                    <div class="end" id="calendar">
                          <!--  <img  class="end"src="/images/wid_del.png"/>-->
                    </div>
                    <div data="events" dhx-scheduler style="height:600px; width:800px;"   >
                            <div class="dhx_cal_prev_button"></div>
                            <div class="dhx_cal_next_button">&nbsp;</div>
                            <div class="dhx_cal_today_button"></div>
                            <div class="dhx_cal_date"></div>
                            <div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
                            <div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
                            <div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>    

                            <div dhx-template="event_bar_text">
                                {{event.text | uppercase}}
                            </div>
                    </div>
                </div>

                
                
                <!-- 바탕화면의 가운데 시계와 인사말 -->
                <div class="center">
                    <div class="clock" >
                        <span my-current-time="format"></span>
                        <div>{{propiedadPrueba}}</div>
                    </div>
                    <div class="greeting">
                        Hello, <%= UserName %>!
                    </div>
                </div>

            </div>

            <div id = "dock" ng-controller = "DragDropCtrl">
                <div id = "ddock">
                    <!-- 독바의 왼쪽과 가운데 생략
                    <div class = "subdock" id = "leftdock" droppable drop = "handleDrop()">
                        <ul id="leftdocklist">
                    <% 
                      for(var i = 0; i < userapp.length; i++){ 
                            if(userapp[i].position=="left"){ %>
                            <li><a href = "<%- userapp[i].url %>" target = "_blank">
                                <img src = "<%- userapp[i].fav %>" class ="tosave"/></a>
                            </li>
                    <%   }}  %>
                        </ul>
                    </div>
                    <div class = "subdock" id = "centerdock">
                        <button id = "apps" ng-click = "slide()"><img src="/images/apps.png" /></button>
                    </div>-->
                    <div class = "subdock" id = "rightdock" droppable drop = "handleDrop()">
                        <ul id="rightdocklist">
                    <% 
                      for(var i = 0; i < userapp.length; i++){ 
                            if(userapp[i].position=="right"){%>
                            <li><a href = "<%- userapp[i].url %>" target = "_blank">
                                <img src = "<%- userapp[i].fav %>" class ="tosave"/></a>
                            </li>
                    <%   }}  %>
                        </ul>
                    </div>
                </div>
                <!-- 패널의 슬라이드 기능 생략
                <div id = "panel" ng-show="slideapps" >-->
                <!-- 앱서랍 버튼 클릭하면 패널 나타남 -->
                <div id = "panel" class = "dontadd" ng-show="show_panel" ng-click = "dont()">
                    
                    <div id = "modifyurl">
                        <input id = "slurl" type = "text" name = "url" ng-show = "slideurl" size = "25" placeholder = "http://" ng-enter/>
                        <!-- url 추가 이미지 생략
                        <button id = "addurl" ng-click = "addurl()" >
                            <img src = "/images/addurl.png" class = "addurll"/>
                        </button>-->
                        <!-- url 추가 글씨 -->
                        <a id="addurl" class= "addurll" ng-keypress ng-click="addurl()"> + </a>
                        
                        <!--<button id = "addurl2" type = "submit" ng-show = "slideurl" class = "addurll" ><img src = "/users/GUEST/noun_21727.png"/></button>-->
                    </div>
                    
                    <div id = "trash" droppable>
                        <!-- 휴지통 이미지 생략
                        <img src = "/images/trash.png" />-->
                    </div>
                    <ul id = "panelul" droppable>
                    <% 
                      for(var i = 0; i < userapp.length; i++){ 
                            if(userapp[i].position=="center"){%>
                            <li><a href = "<%- userapp[i].url %>" id = "<%- userapp[i].fav %>" target = "_blank" >
                                <img src = "<%- userapp[i].fav %>" id = "<%- userapp[i].fav %>" class ="tosave" draggable/></a>
                            </li>
                    <%   }}  %>
                    </ul>
                </div>
                <!-- 앱서랍 버튼 생성 -->
                <div id = "apps" ng-click = "show_panel = !show_panel" id="addwid">Apps</div>
            </div>
                                
         </div>

    </div>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-46156385-1', 'cssscript.com');
        ga('send', 'pageview');
    </script>
    </body>
</html>