<!DOCTYPE html>
<html>
    <head>
        <link href="pages/mobile/MEMO/memo.css" rel="stylesheet" type="text/css">
         <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
        <script src="pages/mobile/MEMO/accordian.js" type="text/javascript"></script>
    </head>
    <body>
        <div ng-app>
            <div class="accordion__container" ng-controller="myCtrl">

                <% 
                    for(var i = 0; i < widget.length; i++){
                        var title="";
                        if (widget[i].memo.length<=8)
                            title=widget[i].memo;
                        else{
                            for (var j=0; j<8;j++){
                                title= title + widget[i].memo[j];
                            }
                            title = title + "...";
                        }
                        %>

                        <div class="accordion__tab" >
                            <div class="accordion__tab-title" ng-show="show_tab=!isOpenTab('tab <%=i%>')"  ng-click="openTab('tab <%=i%>')"><%- title %></div>
                            <div class="accordion__tab-content" ng-show="show_con=isOpenTab('tab <%=i%>')" ng-click="closeTab('tab <%=i%>')"><%- widget[i].memo %></div>
                        </div>
                    <%}
                %>
            </div>
        </div>
    </body>
</html>