<!DOCTYPE html>
<html ng-app = "app" ng-controller = "AppController">
	<head>
		<meta charset='utf-8' />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link href="/css/mobile.css" rel="stylesheet" type="text/css">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
        <script src="http://code.angularjs.org/1.2.0rc1/angular-route.min.js"></script>
        <script src="http://code.angularjs.org/1.2.0rc1/angular-touch.min.js"></script>
        <script src="/js/mobile.js" type="text/javascript"></script>
       
	</head>

	<body ng-swipe-left="showmenu=false" ng-swipe-right="showmenu=true">
       <!-- <video autoplay loop>
            <source src='/videos/flowers.webm' type='video/webm'>
        </video>-->
         <div id="main">
            <div id="menuleft" ng-class="{hide:!showmenu,slide:showmenu}">
              
                <ul>
                    <li><a href ="/memo">MEMO</a></li>
                    <li><a href ="">TO DO LIST</a></li>
                    <li><a href ="">CALENDAR</a></li>
                    <li><a href ="">CLOUD</a></li>
                </ul>
            </div>

            <div id="all" ng-class="{hide:showmenu,slide:!showmenu}" >
                <div class="overlay" ng-class="{show:showmenu}" ng-click="showmenu=!showmenu"></div>

                <div id = "real">
                    <div id = "topbar">
                        <!--<img ng-click="toggleMenu()" id = "sidebutton" src="/images/button.png"/>-->
                        <p ng-click="toggleMenu()" id = "sidebutton">≡</p>
                        <div id="gsearch">
                            <form method="get" action="http://www.google.com/search" target="_blank">
                                <input type="text" name="q" size="30" >
                                <button type = "submit" >search</button>
                            </form>
                        </div>
                        <div id="info">
                            <!--<form action = "/logout" method="post">
                                <button  class="save logout" type = "submit">LOGOUT</button>
                            </form>-->
                            <button id="setting" ng-click="show_setting_li=!show_setting_li"><img src = "/images/Settings.png" /></button>
                        </div>
                    </div>
                    <ul id="setting_li" ng-show="show_setting_li">
                        <li id="user_info">USER INFO</li>
                        <li>
                            <form action = "/logout" method="post">
                                <button  class="save logout" type = "submit">LOGOUT</button>
                            </form>
                        </li>
                    </ul>
                    <div class="center">
                        <div class="clock" >
                            <span my-current-time="format"></span>
                            <div>{{propiedadPrueba}}</div>
                        </div>
                        <div class="greeting">
                            Hello, <%= UserName %>!
                        </div>
                    </div>
                    
                </div> 
                <div id="appbutton"  ><img ng-click="app_section=!app_section" src="/images/apps.png"></div>   
            </div>

            <div class="overlay2" ng-show="app_section">
                <div id = "apps" ng-click="app_section=!app_section;hideurl=true">

                    <% 
                        for(var i = 0; i < userapp.length; i++){ 
                             if(userapp[i].position=="center"){%>
                        <a href = "<%-userapp[i].url %>" id = "<%-userapp[i].fav %>" target = "_blank" >
                                    <img src = "<%- userapp[i].fav %>" id = "<%- userapp[i].fav %>" class ="tosave" draggable/></a>
                    <%   }}  %>
                    
                    <button class = "addurl" id = "add_btn">
                        <img src = "/images/addurl.png" class = "addurll"/>
                    </button>
                    
                </div>
                
            </div>
            <div class = "in"  ng-hide = "hideurl">
                <input id = "slurl" size = "50"  type = "text" name = "url" ng-show = "inputurl" size = "25" placeholder = "url 입력후 엔터키를 눌러주세요."/>
                <button class = "adddd" > 
            <!--            <img src = "/pages/images/addurl.png" class = "addurll" />
                -->
                ADD
                </button>

            </div>

        </div>
        
	</body>
</html>